<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dal.mapper.SysApiPermissionMapper">

    <!-- 根据URL和方法查询权限信息 -->
    <select id="selectByUrlAndMethod" resultType="com.example.dal.entity.SysApiPermissionEntity">
        SELECT * FROM sys_api_permission
        WHERE url = #{url} AND method = #{method}
    </select>
    
</mapper>