<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- UserMapper.xml -->
<mapper namespace="com.example.dal.mapper.SysPermissionMapper">
    <sql id="field_list">
        p.id,
        p.parent_id,
        p.path,
        p.name,
        p.title,
        p.icon,
        p.show_link,
        p.`rank`,
        p.component,
        p.show_parent,
        p.keep_alive,
        p.is_frame,
        p.menu_type,
        p.perms,
        p.is_enable as enabled,
        p.created,
        p.created_by,
        p.modified,
        p.modified_by
    </sql>
    <!--查询权限-->
    <select id="listPermission"
            resultType="com.example.dal.entity.SysPermissionEntity">
        SELECT
        <include refid="field_list"/>
        FROM sys_permission p
        WHERE p.menu_type=2
        <if test="ids != null and ids.size > 0">
            AND p.id in
            <foreach collection="ids" item="item" index="index" separator="," open="(" close=")">
                ${item}
            </foreach>
        </if>
        <choose>
            <when test="is_enabled != null and is_enabled">
                AND p.is_enable = 1
            </when>
            <when test="is_enabled != null and !is_enabled">
                AND p.is_enable = 0
            </when>
        </choose>
    </select>

    <!--查询用户权限-->
    <select id="listPermissionIdsByRoleIds" resultType="com.example.dal.entity.SysPermissionEntity">
        SELECT
        <include refid="field_list"/>
        FROM sys_permission p,sys_role_permission t
        WHERE t.permission_id = p.id
        AND t.role_id in
        <foreach collection="roleIds" item="item" separator="," open="(" close=")">
            ${item}
        </foreach>
        <choose>
            <when test="is_enabled != null and is_enabled">
                AND p.is_enable = 1
            </when>
            <when test="is_enabled != null and !is_enabled">
                AND p.is_enable = 0
            </when>
        </choose>
    </select>
    <!--查询前端路由权限-->
    <select id="list" resultType="com.example.dal.entity.SysPermissionEntity">
        SELECT
        <include refid="field_list"/>
        FROM sys_permission p
        <where>
            <choose>
                <when test="is_enabled != null and is_enabled">
                    p.is_enable = 1
                </when>
                <when test="is_enabled != null and !is_enabled">
                    p.is_enable = 0
                </when>
            </choose>
        </where>
    </select>
    <!--前端菜单树 -->
    <select id="listMenuByIds" resultType="com.example.dal.entity.SysPermissionEntity">
        SELECT
        <include refid="field_list"/>
        FROM sys_permission p
        WHERE p.menu_type in (0,1)
        <if test="ids != null and ids.size > 0">
            AND p.id in
            <foreach collection="ids" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <!--  根据用户id查询菜单  -->
    <select id="listMenuByUserId" resultType="com.example.dal.entity.SysPermissionEntity">
        SELECT DISTINCT
        <include refid="field_list"/>
        FROM sys_permission p,sys_role_permission t,sys_user_role u, sys_user u1
        WHERE p.id = t.permission_id
        AND t.role_id = u.role_id
        AND u.user_id = u1.id -- 添加了此 JOIN 条件
        AND u1.id = #{userId}
        AND p.menu_type in (1)
        <choose>
            <when test="is_enabled != null and is_enabled">
                AND p.is_enable = 1
            </when>
        </choose>
    </select>
</mapper>