<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dal.mapper.SysRoleMapper">
    <!-- 基础列 -->
    <sql id="Base_Column_List">
        id, role_code, role_name, is_enable as enabled, description, created, created_by, modified, modified_by
    </sql>

    <!-- 条件查询 -->
    <sql id="Where_Clause">
        <where>
            <if test="roleCodes != null and roleCodes.size() > 0">
                AND role_code IN
                <foreach collection="roleCodes" item="code" open="(" separator="," close=")">
                    #{code}
                </foreach>
            </if>
            <if test="roleName != null and roleName != ''">
                AND role_name LIKE CONCAT('%', #{roleName}, '%')
            </if>
            <if test="enabled != null">
                AND is_enable = #{enabled}
            </if>
        </where>
    </sql>

    <!-- 查询所有角色 -->
    <select id="selectAll" resultType="com.example.dal.entity.SysRoleEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_role
        <include refid="Where_Clause"/>
        ORDER BY modified
    </select>

    <!-- 分页查询角色 -->
    <select id="selectPage" resultType="com.example.dal.entity.SysRoleEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_role
        <include refid="Where_Clause"/>
    </select>
</mapper>