<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- UserMapper.xml -->
<mapper namespace="com.example.dal.mapper.SysUserMapper">
    <sql id="Base_sql">
        t.id,t.created_by
        ,t.created,t.modified_by,t.modified,t.username,t.password,t.nickname,t.phone,t.is_enabled,t.email,t.org_id,t.is_manage
    </sql>
    <select id="selectById" resultType="com.example.dal.entity.SysUserEntity">
        SELECT
        <include refid="Base_sql"/>
        FROM sys_user t
        WHERE t.id = #{id}
    </select>
    <delete id="deleteUserRoleByUserId">
        DELETE FROM sys_user_role
        WHERE user_id = #{id}
    </delete>
    <select id="getByUsername" resultType="com.example.dal.entity.SysUserEntity">
        SELECT * FROM sys_user
        WHERE username = #{username}
    </select>
    <select id="allRoleCode" resultType="java.lang.String">
        SELECT
        a.role_code
        FROM sys_role a
        WHERE a.is_enable=1
    </select>
    <select id="getRoleCodeByUsername" resultType="java.lang.String">
        select t.role_code
        from sys_role t,
        sys_user_role t1,
        sys_user t2
        where t.id = t1.role_id
        AND t.is_enable = 1
        and t1.user_id = t2.id
        and t2.username = #{username}
    </select>
    <select id="queryRoleIdsByUserId" resultType="java.lang.String">
        SELECT ur.role_id
        FROM sys_user_role ur, sys_role r
        WHERE 1 = 1 AND ur.role_id = r.id AND r.is_enable = 1 AND ur.user_id = #{userId}
    </select>

    <!-- 新增 checkUsername 的映射，返回 Integer 类型 -->
    <select id="checkUsername" resultType="java.lang.Integer">
        SELECT count(*) FROM sys_user WHERE username = #{username}
    </select>

    <insert id="saveUserRole">
        INSERT INTO sys_user_role (id, user_id, role_id)
        VALUES
        <foreach collection="roleIds" item="roleId" separator=",">
            (md5(uuid()), #{id}, #{roleId})
        </foreach>
    </insert>

    <!-- 修改 id 以匹配新的 Mapper 方法名 -->
    <!-- 移除 LIMIT 子句 -->
    <select id="selectUserPage" resultType="com.example.dal.entity.SysUserEntity">
        select
        <include refid="Base_sql"/>,
        t1.name as org_name,t1.code as org_code
        from sys_user t
        LEFT JOIN sys_org t1 ON t.org_id = t1.id
        where 1 = 1
        ORDER BY t.created DESC
        <!-- LIMIT 子句由分页插件自动添加，此处需删除 -->
        <!-- LIMIT #{offset}, #{limit} -->
    </select>
</mapper>