<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- UserMapper.xml -->
<mapper namespace="com.example.dal.mapper.SysUserMapper">
    <sql id="Base_sql">
        t.id,t.created_by
        ,t.created,t.modified_by,t.modified,t.username,t.password,t.nickname,t.phone,t.is_enabled,t.email,t.org_id,t.is_manage
    </sql>
    <select id="getByUsername" resultType="com.example.dal.entity.SysUserEntity">
        SELECT * FROM sys_user
        WHERE username = #{username}
    </select>
    <select id="allRoleCode" resultType="java.lang.String">
        SELECT
        a.role_code
        FROM sys_role a
        WHERE a.is_enable=1
    </select>
    <select id="getRoleCodeByUsername" resultType="java.lang.String">
        select t.role_code
        from sys_role t,
        sys_user_role t1,
        sys_user t2
        where t.id = t1.role_id
        AND t.is_enable = 1
        and t1.user_id = t2.id
        and t2.username = #{username}
    </select>
    <select id="queryRoleIdsByUserId" resultType="java.lang.String">
        SELECT ur.role_id
        FROM sys_user_role ur, sys_role r
        WHERE 1 = 1 AND ur.role_id = r.id AND r.is_enable = 1 AND ur.user_id = #{userId}
    </select>
    <!-- 修改 id 以匹配新的 Mapper 方法名 -->
    <!-- 移除 LIMIT 子句 -->
    <select id="selectUserPage" resultType="com.example.dal.entity.SysUserEntity">
        select
        <include refid="Base_sql"/>
        from sys_user t
        where 1 = 1
        ORDER BY t.created DESC
        <!-- LIMIT 子句由分页插件自动添加，此处需删除 -->
        <!-- LIMIT #{offset}, #{limit} -->
    </select>
    </mapper>